<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TopShelfTest</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	<img src="~/Content/norm-logo.png" alt="Norm logo" /><br />
	A .NET app on Heroku? And it hasn't touched Windows at any point in the pipeline? What sorcery is this?
</body>
</html>
